# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Dataset
data/

# Local database
*.db
*.sqlite
*.sqlite3

# Python cache
.pytest_cache/
.mypy_cache/

# Frontend build
dist/
build/

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log